{% extends 'base_template.html' %}

{% block head %}
<title>Sprzedane bilety</title>
{% endblock %}

{% block body %}

{#{% if loggedin == True %}#}

	{% if bilety %}

		<h1>Sprzedane bilety</h1>
		<br>
		<table class="table" border="1">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Data sprzedazy</th>
					<th scope="col">Rodzaj biletu</th>
					<th scope="col">Cena biletu</th>
                    <th scope="col">Koncert</th>
					<th scope="col">Klient</th>

				</tr>
			</thead>
			<tbody>
				{% for r in bilety %}
					<tr>
						<td>{{r.id_biletu}}</td>
                        <td>{{r.data_sprzedazy}}</td>
						<td>{{r.rodzaj_biletu}}</td>
						<td>{{r.cena_biletu}}</td>
                        <td>{{r.koncerty.nazwa_koncertu}}</td>
                        <td>{{r.klienci.imie_klienta}} {{r.klienci.nazwisko_klienta}}</td>

					</tr>

                {% endfor %}
        </tbody>
		</table>


		<!-- {% endif %} -->

{#	{% else %}#}
{##}
{#		<h1>Wystąpił błąd</h1>#}
{#		<br>#}
{#		<h5>Nie udało się wczytać danych</h5>#}
{##}
{#	{% endif %}#}
    <br>
	<a href="/" class="btn btn-primary" role="button">Wróć do strony głównej</a>

	<a href=/logout class="btn btn-primary" role="button">Wyloguj</a>



{% endblock %}