{% extends 'base_template.html' %}

{% block head %}
<title>Moja filharmonia</title>
{% endblock %}

{% block body %}

{% if loggedin == True %}

	{% if to_modify %}

	<h1>Modyfikuj dane pracownika {{to_modify.imie_pracownika}} {{to_modify.nazwisko_pracownika}}</h1>

	<form method="POST" action="">
	  {{ applymod.hidden_tag() }}
	  <div class="form-row">
	    <div class="form-group col-md-6">
	    	<label for="inputImie">Imię</label>
	    	<!-- <input id="inputImie" type="text" class="form-control" placeholder="Imię"> -->
	    	{{ applymod.imie(class="form-control", placeholder=to_modify.imie_pracownika) }}
	    </div>
	    <div class="form-group col-md-6">
	    	<label for="inputNazwisko">Nazwisko</label>
	    	{{ applymod.nazwisko(class="form-control", placeholder=to_modify.nazwisko_pracownika) }}
	    </div>
	  </div>
	  <label>Adres zamieszkania</label>
	  <div class="form-row">
	  	<div class="form-group col-md-4">
	    	{{ applymod.ulica(class="form-control", placeholder=to_modify.ulica_zam_pracown) }}
	    </div>
	    <div class="form-group col-md-2">
	    	{{ applymod.numer(class="form-control", placeholder=to_modify.nr_budynku_zam_pracown) }}
	    </div>
	    <div class="form-group col-md-2">
	    	{{ applymod.kod(class="form-control", placeholder=to_modify.kod_pocztowy_zam_pracown) }}
	    </div>
	    <div class="form-group col-md-4">
	    	{{ applymod.miejscowosc(class="form-control", placeholder=to_modify.miejscowosc_zam_pracown) }}
	    </div>
	  </div>
	  <div class="form-group">
	  		<label for="inputPesel">Numer PESEL (nieobowiązkowe)</label>
	    	{% if to_modify.pesel_pracownika %}
				{{ applymod.pesel(class="form-control", placeholder=to_modify.pesel_pracownika) }}
			{% else %}
				{{ applymod.pesel(class="form-control", placeholder="xxxxxxxxxxx") }}
			{% endif %}
	  </div>
	  <div class="form-group">
	    	<label for="inputDowod">Seria i numer dowodu osobistego (nieobowiązkowe)</label>
	    	{% if to_modify.dowod_pracownika %}
				{{ applymod.dowod(class="form-control", placeholder=to_modify.dowod_pracownika) }}
			{% else %}
				{{ applymod.dowod(class="form-control", placeholder="ABC123456") }}
			{% endif %}
	  </div>
	  <div class="form-group">
	  		<label for="inputStanowisko">Stanowisko</label>
			<!--
			<select id="inputStanowisko" class="form-control">
		    	{% for s in lista_stanowisk %}
			    	<option>{{s.nazwa_stanowiska}}</option>
			   	{% endfor %}
		    </select>
			-->
			{{ applymod.stanowisko(class="form-control") }}
	  </div>
	  <div class="form-group">
	  	{{ applymod.submit_apply(class="btn btn-primary") }}
	  	<a href="/pracownicy" class="btn btn-primary" role="button">Wróć do listy pracowników</a>
	  </div>

	</form> 
	
	{% else %}
	<br>
	<h5>Wpis o podanym ID nie istnieje.</h5>

	<br>
	<a href="/pracownicy" class="btn btn-primary" role="button">Wróć do listy pracowników</a>

	{% endif %}

{% else %}

	<h1>Odmowa dostępu</h1>
	<br>
	<h5>Aby uzyskać dostęp do listy pracowników, musisz się zalogować</h5>

	<br>
	<a href="/login" class="btn btn-primary" role="button">Zaloguj się</a>

{% endif %}

{% endblock %}