{% extends 'base_template.html' %}

{% block head %}
<title>Moja filharmonia</title>
{% endblock %}

{% block body %}

{% if loggedin == True %}
	
	{% if lista_pracownikow %}
	
		<h1>Lista pracowników</h1>
		<br>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Imię</th>
					<th scope="col">Nazwisko</th>
					<th scope="col">Stanowisko</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for r in lista_pracownikow %}
					<tr>
						<td>{{r.id_pracownika}}</td>
						<td>{{r.imie_pracownika}}</td>
						<td>{{r.nazwisko_pracownika}}</td>
						<td>{{r.stanowiska.nazwa_stanowiska}}</td>
						<td>
							<button class="btn btn-primary" type="button" data-toggle="collapse" data-target={{ "#collapseDetails" ~ r.id_pracownika }} aria-expanded="false" aria-controls={{ "collapseDetails" ~ r.id_pracownika }}>Szczegóły</button>
						</td>	
					</tr>
					<tr id={{ "collapseDetails" ~ r.id_pracownika }} class="collapse" >
						<td colspan="5">
					  		<div class="card card-body">
					    		Adres zamieszkania: {{r.ulica_zam_pracown}} {{r.nr_budynku_zam_pracown}}, {{r.kod_pocztowy_zam_pracown}} {{r.miejscowosc_zam_pracown}} <br>
					    		{% if r.pesel_pracownika %}
					    		PESEL: {{r.pesel_pracownika}} <br>
					    		{% endif %}
					    		{% if r.dowod_pracownika %}
					    		Dowód osobisty: {{r.dowod_pracownika}} <br>
					    		{% endif %}
					    		Data zatrudnienia: {{r.data_zatrudnienia}}
					  		</div>
					  	</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<!-- {% if user == admin %} -->

		<p>
		  <a href="/pracownicy/add" class="btn btn-primary" role="button">Dodaj pracownika</a>
		  
		  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseDelete" aria-expanded="false" aria-controls="collapseDelete">Usuń pracownika</button>
		  
		  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseModify" aria-expanded="false" aria-controls="collapseModify">Modyfikuj dane pracownika</button>
		</p>
		<div class="collapse" id="collapseDelete">
		  <div class="card card-body">
		    <form method="POST" action="">
		    	{{ delete_form.hidden_tag() }}
		    	<div class="form-group">
		    		<label for="inputId">Wprowadź ID do usunięcia:</label>
		    		{{ delete_form.id_action(class="form-control") }}
		    	</div>
		    	<div class="form-group">
	  				{{ delete_form.submit_delete(class="btn btn-primary") }}
	  			</div>
	  		</form>
		  </div>
		</div>

		<div class="collapse" id="collapseModify">
		  <div class="card card-body">
		    <form method="POST" action="">
		    	{{ modify_form.hidden_tag() }}
		    	<div class="form-group">
		    		<label for="inputId">Wprowadź ID do modyfikacji:</label>
		    		{{ modify_form.id_action(class="form-control") }}
		    	</div>
		    	<div class="form-group">
	  				{{ modify_form.submit_modify(class="btn btn-primary") }}
	  			</div>
	  		</form>
		  </div>
		</div>

		<!-- {% endif %} -->

	{% else %}

		<h1>Wystąpił błąd</h1>
		<br>
		<h5>Nie udało się wczytać listy pracowników</h5>

	{% endif %}

	<br>
	<a href="/" class="btn btn-primary" role="button">Wróć do strony głównej</a>

{% else %}

	<h1>Odmowa dostępu</h1>
	<br>
	<h5>Aby uzyskać dostęp do listy pracowników, musisz się zalogować</h5>

	<br>
	<a href="/login" class="btn btn-primary" role="button">Zaloguj się</a>

{% endif %}

{% endblock %}